// We're using /* */ comments below on purpose, to make sure this is printed
// out in the compiled styling.
// scss-lint:disable Comment

/*
  WebFont 'QuatroSlab' Package Licensed to BUPL.
*/

// scss-lint:enable Comment
@font-face {
  font-family: "Quatro Slab";
  src: url("../fonts/quatroslab_regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
