$color__main: #3caad2;
$color__ok: #1a9216;
$color__inactive: #e0e0e0;
$color__dark: #000;

// Text colours
$color__text: $color__dark;
$color__text--light: #fff;
$color__text--active: #5fd20b;
$color__text--link: $color__text--active;
