parameters:
  level: 5
  paths:
   - web/modules/custom
   - web/themes/custom
  excludePaths:
    - web/themes/custom/storypal_theme/node_modules
  ignoreErrors:
    # This is a Drupal thing, and there's an issue: https://www.drupal.org/project/drupal/issues/3118975
    # - '#Unsafe usage of new static\(\)#'
